<div layout:decorator="layouts/default" layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
            <form th:object="${registerForm}" th:action="${#mvc.url('homeSignUp').build()}" method="post">
                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                    <label class="control-label" for="email">Email</label>
                    <input th:field="*{email}" type="email" class="form-control" />
                    <span class="help-block" th:errors="*{email}"></span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? has-error">
                    <label class="control-label" for="firstName">First Name</label>
                    <input th:field="*{firstName}" type="text" class="form-control" />
                    <span class="help-block" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? has-error">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input th:field="*{lastName}" type="text" class="form-control" />
                    <span class="help-block" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
                    <label class="control-label" for="password">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" />
                    <span class="help-block" th:each="error : ${#lists.sort(#fields.errors('password'))}" th:text="${error}"></span>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? has-error">
                    <label class="control-label" for="passwordConfirm">Password (Confirm)</label>
                    <input th:field="*{passwordConfirm}" type="password" class="form-control" />
                    <span class="help-block" th:errors="*{passwordConfirm}"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
</div>